{% extends 'base.html.twig' %}

{% block title %}Marmiton{% endblock %}

{% block body %}

<div class="container">
{#{{ form_start(form, {'action': path('created_recette_succes'), 'method': 'GET'}) }}#}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_label(form.name, 'Name') }}

            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.time, 'Time') }}
            {{ form_widget(form.time, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_label(form.difficulty, 'Difficulté') }}
            {{ form_widget(form.difficulty, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.little_describe, 'Description') }}
            {{ form_widget(form.little_describe, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>
    <div>
        <button> create </button>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
