<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>


    <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand">Marmiton</a>
        <img src="{{ asset('image/logo.png') }}" width="60px" />

        <form class="form-inline">


            {% if app.user.roles[0] is defined %}

                <a class="nav-item nav-link active" href="{{ url('logout') }}">Logout </a>
                <a class="nav-item nav-link active" href="{{ url('recette') }}">Recette</a>



            {% else %}

                <a class="nav-item nav-link active" href="{{ url('login') }}">Login </a>
                <a class="nav-item nav-link" href="{{ url('app_register') }}">Register</a>

            {% endif %}
        </form>
    </nav>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
        {% block body %}

        {% endblock %}



        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>
